@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

.container {
  font-family: "Poppins", sans-serif;

  // font-family: $poppins;
  color: $primary-color;
  // max-width: 100%;
  // height: 45px;
  // background-color: #ffffff;

  // &_box {
  //   // width: 1440px;
  //   // height: 45;
  // }

  &_box1 {
    display: flex;
    // width: 1258px;
    // padding: 20px;
    // height: 45px;
    align-items: center;
    justify-content: space-between;
    // line-height: 18px;
    font-size: 12px;
    // font: normal;
    // margin: 0 auto;

    .info {
      // height: 45px;
      margin-left: 90px;

      font-weight: 300;
      ul {
        display: flex;
        padding: 13px 0;
        list-style: none;
      }

      li {
        margin-right: 5rem;

        .darkg {
          color: $darkgreen;
          font-weight: 500;
        }

        a {
          text-decoration: none;
          color: $primary-color;
        }
      }
    }

    .butt {
      display: inline-block;
      padding: 0 0.5rem;
      margin-right: 3rem;
      border: none;

      .button {
        border: none;
        background-color: #ffffff;

        a {
          text-decoration: none;
          color: $primary-color;
          padding: 0 20px;
          border: none;
          &:hover {
            background-color: $primary-color;
            padding: 6px 22px;
            color: #ffffff;
            border-radius: 5px;
          }
        }
      }

      &_drakg {
        display: inline-block;
        border: none;
        background-color: $primary-color;

        a {
          text-decoration: none;
          // color: #ffffff;
          padding: 6px 20px;
          font-size: 12px;
          font-weight: 300;
          &:hover {
            background-color: $primary-color;
            padding: 5px 20px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.header {
  min-height: 10vh;
  background: #003412;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
  color: white;
  padding-left: 2.4rem;


  .nav-box {
   display: flex;
   justify-content: space-around;
   align-items: center;

    .logo {
      padding-right: 10rem;
      padding-top: 0.4rem;
    }

    .mid {

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3.5rem;
  

      i {
        display: none;
      }
  
      .nav {
        display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3.5rem;
     
       
  
      
        li {
          text-decoration: none;
          list-style-type: none;
  
          a {
            text-decoration: none;
            font-size: 0.9em;
            color: inherit;
          }
        }
      }
      .con {
       
        width: 130px;
        height: 51px;
        margin-right: 0.5rem;
        background: #038c33;
        color: white;
        align-items: center;
        border-radius: 5px;
        // gap: 3.5rem;
      }
    }

    }

    

  .toggler {
    display: none;
    cursor: pointer;
    // display: none;
    // .mobile-menu {
    //  display: none;
    // }
  }
}

@media screen and (max-width: 768px) {
  //   .container_box{
  // background-color: aqua;
  //   }
  .header {
    
    .mid {
      
      // i {
      //   display: block;
      // }
      .nav {
        display: none;
        li {
          display: none;
        }
      }
      .con {
        display: none;
      }
    }
    .toggler {
      display: block;
      position: fixed;
      top: 0;
      z-index: 1;
      width: 30%;
      min-height: 15vh;
      background-color: yellow;
      left: 0;
      i{
        color: #003412;
      }

      .mobile-menu {
        flex-direction: column;
        .con {
          // margin-bottom: 0.2rem;
          // margin-top: 20px;
          width: 130px;
          height: 51px;
          margin-right: 0.5rem;
          background: #038c33;
          color: white;
          align-items: center;
          border-radius: 5px;
          // gap: 3.5rem;
        }
      }
    }
  }
}
